nav.navbar.navbar-default
	.container
		.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#my-menu")
				i.fa.fa-bars
			a(ui-sref="home").navbar-brand My Title

		.collapse.navbar-collapse#my-menu
			ul.nav.navbar-nav.navbar-left
				li(ng-repeat="item in menuItems.left"
					ng-if="item.access.indexOf(userData.role)>-1"
					)
					a(ng-if="item.href" href="{{item.href}}") {{ item.title }}
					a(ng-if="item.uiSref" ui-sref="{{item.uiSref}}") {{ item.title }}
					a(ng-if="item.ngClick" ng-click="callFunction(item.ngClick)") {{ item.title }}
			ul.nav.navbar-nav.navbar-right
				li(ng-repeat="item in menuItems.right"
					ng-if="item.access.indexOf(userData.role)>-1"
					)
					a(ng-if="item.href" href="{{item.href}}") {{ item.title }}
					a(ng-if="item.uiSref" ui-sref="{{item.uiSref}}") {{ item.title }}
					a(ng-if="item.ngClick" ng-click="callFunction(item.ngClick)") {{ item.title }}
