h3 Manage Articles

.row
	.col-md-4: section.content
		p(ng-if="article._id") Editing {{ article.title }}
		p(ng-if="!article._id") Creating new article
		form
			.form-group
				label Title
				input.form-control(type="text",ng-model="article.title")
			.form-group
				label Body
				textarea.form-control(ng-model="article.body")
			button.btn.btn-block.btn-primary(ng-click="save(article)") Save
			button.btn.btn-block.btn-default(ng-click="reset()") Reset

	.col-md-8: section.content
		table.table
			thead
				tr
					th Title
					th Actions
			tbody
				tr(ng-repeat="article in articles")
					td {{ article.title }}
					td
						a.btn.btn-primary.btn-sm(ng-click="edit(article)") Edit
						| &nbsp;
						a.btn.btn-danger.btn-sm(ng-click="delete(article)") Delete