
h3 Users Administration

.row
	.col-md-4: section.content
		p(ng-if="user._id") Editing {{ user.name }}
		p(ng-if="!user._id") Creating new user
		form
			.form-group
				label Name
				input.form-control(type="text",ng-model="user.name")
			.form-group
				label Email
				input.form-control(type="text",ng-model="user.email")
			.form-group(ng-if="!user._id")
				label Password
				input.form-control(type="text",ng-model="user.password")
			.form-group
				label Role
				input.form-control(type="text",ng-model="user.role")
			.form-group
				label Active &nbsp;
				input(type="checkbox",ng-model="user.active")
			button.btn.btn-block.btn-primary(ng-click="save(user)") Save
			button.btn.btn-block.btn-default(ng-click="reset()") Reset

	.col-md-8: section.content
		table.table
			thead
				tr
					th Name
					th Email
					th Role
					th Active
					th Actions
			tbody
				tr(ng-repeat="user in users")
					td {{ user.name }}
					td {{ user.email }}
					td {{ user.role }}
					td {{ (user.active) ? "yes" : "no" }}
					td
						a.btn.btn-primary.btn-sm(ng-click="edit(user)") Edit
						| &nbsp;
						a.btn.btn-danger.btn-sm(ng-click="delete(user)") Delete