extends ../../common/jade/layout


block styles
	link(href="lib/ionic.css",rel="stylesheet")
	link(href="lib/font-awesome.css",rel="stylesheet")
	link(href="css/style.css",rel="stylesheet")


block content
	section(ng-app="hybrid")
		ion-nav-bar.bar-stable(align-title="center")
			ion-nav-back-button
		ion-nav-view

block scripts
	//- angular and ionic
	script(src="lib/angular.js")
	script(src="lib/angular-ui-router.js")
	script(src="lib/angular-resource.js")
	script(src="lib/angular-animate.js")
	script(src="lib/angular-sanitize.js")
	script(src="lib/ionic.js")
	script(src="lib/ionic-angular.js")
	//- cordova related
	script(src="cordova.js")
	script(src="js/app.js")
	script(src="js/services/article.js")
	script(src="js/services/chat.js")
	script(src="js/controllers/tab/dash.js")
	script(src="js/controllers/tab/chats.js")
	script(src="js/controllers/tab/account.js")
	script(src="js/controllers/tab/rest.js")
